<form action="/datamapper/public/" method="GET">
  <p>Поиск по id:</p>
  <input name="id">
  <button>Найти</button>
</form>

<form action="/datamapper/public/" method="GET">
  <p>Поиск по фамилии:</p>
  <input name="surname">
  <button>Найти</button>
</form>

<form action="/datamapper/public/" method="GET">
  <p>Записать в базу:</p>
  id:
  <input name="save_id">
  Фамилия:
  <input name="save_surname">
  Имя:
  <input name="save_name">
  <button>Записать в БД</button>
</form>

<form action="/datamapper/public/" method="GET">
  <p>Удалить запись по id:</p>
  id:
  <input name="delete_id">
  <button>Удалить</button>
</form>
